body {
	overflow-x: hidden;
	background-color: #e8e9ed;
	margin: 0;
}

h1,h2,h3,h4 {
	font-family: "El Messiri", sans-serif;
	line-height: 1;
}

p,a {
	font-family: "Montserrat", sans-serif;
}

.navbar-cont {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 20px;
}

.menu-r a {
	color: black;
	font-size: 18px;
	text-decoration: none;
	margin-left: 30px;
}

.menu-r a:hover {
	opacity: .5;
	transition: .3s;
}

@media screen and (min-width: 460px) {
	.shift {
		padding: 0 150px;
	}

	.topnav {
		display: none;
	}
	
	.navbar-cont img {
		width: 190px;
	}
}

@media screen and (max-width: 460px) {
	.shift {
		padding: 0 30px;
	}

	.navbar {
		display: none;
	}
	
	.topnav img {
		width: 120px;
		margin-top: 20px;
	}

	.topnav {
		/* overflow: hidden; */
		position: relative;
		/* position: fixed; */
	}
	  
	.topnav #myLinks {
		display: none;
		position: absolute;
		width: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 40px 0 40px 0;
		top: 0;
		left: 0;
		z-index: 10;
		margin-top: 90px;
		background-color: #e8e9ed;
		box-shadow: 0px 8px 10px rgba(213, 213, 213, 0.682);
	}
	  
	.topnav a {
		color: #000;
		padding: 14px 30px;
		text-decoration: none;
		font-size: 19px;
		font-weight: 600;
	}
	  
	.topnav a.icon {
		color: #000;
		display: block;
		position: absolute;
		right: 0;
		top: 30px;
		font-size: 30px;
	}
	  
	.topnav a:hover {
		opacity: .5;
		transition: .3;
	}
}


/* ----------- */

.main {
	display: flex;
	position: relative;
}

.main img {
	object-fit: cover;
}

.main-l {
	position: absolute;
}

.main-h h1 {
	line-height: .9;
}

.main-l-d p {
	font-size: 16px;
	line-height: 1.6;
}

.button-def {
	border-radius: 35px;
	border: 1px solid #000;
	background-color: #e8e9ed;
	cursor: pointer;
	transition: .5s;
	color: #000 !important;
}

.button-def:hover {
	background-color: #000;
	color: #e8e9ed;
}

@media screen and (min-width: 460px) {
	.main {
		align-items: flex-start;
		flex-direction: row;
		justify-content: flex-end;
		height: 100vh;
	}
	
	.main img {
		width: 30vw;
		height: 90vh;
	}
	
	.main-l {
		top: 0;
		left: 160px;
	}
	
	.main-h h1 {
		font-size: 125px;
		margin: 17vh 0 0 0;
	}
	
	.main-h span {
		margin-left: 70px;
	}
	
	.main-h p {
		font-size: 22px;
		margin: 15px 0 0 20%;
	}
	
	.main-l-d {
		margin-left: 70px;
		margin-top: 7vh;
		width: 50%;
	}
	
	.main-l-d p {
		margin-bottom: 30px;
	}
	
	.button-def {
		padding: 8px 40px;
		font-size: 18px;
	}
}


@media screen and (max-width: 460px) {
	.main {
		align-items: flex-start;
		flex-direction: column;
		justify-content: flex-end;
		height: 100vh;
	}
	
	.main img {
		width: 60vw;
		height: 44vh;
		position: absolute;
		top: 25px;
		right: 30px;
		z-index: -1;
	}
	
	.main-l {
		top: 0;
		left: 30px;
	}
	
	.main-h h1 {
		font-size: 55px;
		margin: 45vh 0 0 0;
	}
	
	.main-h span {
		margin-left: 25px;
	}
	
	.main-h p {
		font-size: 18px;
		margin: 15px 0 0 50px;
	}
	
	.main-l-d {
		margin-top: 4vh;
		/* width: 100%; */
	}
	
	.main-l-d p {
		margin-bottom: 30px;
	}
	
	.button-def {
		padding: 10px 30px;
		font-size: 18px;
	}
}

/* ----------------------- Обо мне ------------------- */

.about {
	display: flex;
}

.about img {
	object-fit: cover;
}

.about-d {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.about-d p {
	line-height: 1.6;
}


@media screen and (min-width: 460px) {
	.about {
		margin: 40px 0;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	
	.about img {
		width: 50%;
		height: 100vh;
	}

	.about-d {
		width: 42%;
	}

	.about-d h2 {
		font-size: 50px;
		margin: 0;
	}

	.about-d p {
		font-size: 16px;
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 460px) {
	.about {
		flex-direction: column;
		align-items: center;
	}
	
	.about img {
		width: 100%;
		height: 40vh;
		margin-bottom: 50px;
	}

	.about-d {
		width: 100%;
	}

	.about-d h2 {
		font-size: 40px;
		margin: 0;
	}

	.about-d p {
		font-size: 16px;
		margin-bottom: 40px;
	}
}

/* ----------------------- Услуги ------------------------ */

.service {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.service hr {
	width: 100%;
	background-color: #000;
	border: 1px solid #000;
}

.grid-item {
	display: flex;
	flex-direction: row;
}

.grid-item h3 {
	margin: 0;
}

.grid-item-text {
	margin: 0;
}

.grid-item-text p {
	font-size: 16px;
	margin-top: 20px;
}


@media screen and (min-width: 460px) {
	.service {
		margin-top: 150px;
	}
	
	.service h2 {
		font-size: 62px;
		margin: 0 0 50px 0;
		text-align: center;
	}
	
	.grid-item {
		padding: 40px 20px 35px 20px;
	}
	
	.grid-item h3 {
		font-size: 36px;
	}
	
	.grid-item img {
		width: 30px;
		height: 30px;
		margin-right: 50px;
	}
}

@media screen and (max-width: 460px) {
	.service {
		margin-top: 100px;
	}
	
	.service h2 {
		font-size: 40px;
		margin: 0 0 40px 0;
	}
	
	.grid-item {
		padding: 30px 0 20px 0;
	}
	
	.grid-item h3 {
		font-size: 30px;
	}
	
	.grid-item img {
		width: 20px;
		height: 20px;
		margin-right: 30px;
	}
}

/* -------------------- FOOTER --------------------- */

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #231f20;
	color: #fff;
	margin-top: 90px;
	padding: 40px 0;
}

.foo-cont {
	width: 100%;
	display: flex;
}

.foo-cont a {
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}

.foo-left {
	width: 50%;
}

.foo-desk {
	display: flex;
	flex-direction: column;
}

.foo-desk p {
	font-size: 17px;
}

.foo-info p, .foo-info-mob p {
	font-size: 15px;
	line-height: 1.7;
	opacity: .8;
}

footer h4 {
	opacity: .5;
	font-size: 15px;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
}

.foo-center, .foo-end {
	display: flex;
	flex-direction: column;
}

.foo-center a {
	margin: 10px 0;
}

.foo-center a:hover {
	opacity: .6;
	transition: .4s;
}

.foo-docs {
	display: flex;
	flex-direction: column;
}

.foo-docs a {
	font-size: 15px;
	opacity: .7;
	padding: 6px 0;
}

.foo-social {
	display: flex;
	flex-direction: row;
}


@media screen and (min-width: 460px) {
	.foo-cont {
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
	}

	.foo-left {
		width: 50%;
	}
	
	.foo-desk {
		margin-bottom: 40px;
	}
	
	.foo-desk img {
		width: 200px;
	}
	
	.foo-info {
		margin-top: 40px;
	}
	
	.foo-center, .foo-end {
		width: 25%;
		padding-top: 40px;
	}
	
	.foo-center a {
		font-size: 20px;
	}
	
	a.foo-phone {
		font-size: 28px;
	}
	
	.foo-social {
		margin: 26px 0;
	}
	
	.foo-social img {
		width: 42px;
		height: 42px;
		margin-right: 22px;
	}

	.foo-info-mob {
		display: none;
	}
}

@media screen and (max-width: 460px) {
	.foo-cont {
		flex-direction: column;
		align-items: center;
	}

	.foo-left {
		width: 100%;
	}
	
	.foo-desk {
		align-items: center;
	}
	
	.foo-desk img {
		width: 150px;
	}
	
	.foo-info-mob {
		margin-top: 20px;
	}
	
	.foo-center, .foo-end {
		width: 100%;
		padding-top: 20px;
		text-align: center;
		align-items: center;
		justify-content: center;
	}
	
	.foo-center a {
		font-size: 22px;
	}
	
	a.foo-phone {
		font-size: 26px;
	}
	
	.foo-social {
		margin: 28px 0;
	}
	
	.foo-social img {
		width: 40px;
		height: 40px;
		margin: 0 10px;
	}
	
	.foo-info {
		display: none;
	}
}


/* ------------------ NOT MAIN --------------------- */

@media screen and (min-width: 460px) {
	.not-main-h h1 {
		font-size: 125px;
		line-height: .9;
		margin: 22vh 0 0 0;
	}

	.not-main-h p {
		font-size: 22px;
		margin: 15px 0 0 150px;
	}

	.not-main-l-d {
		margin-left: 70px;
		margin-top: 7vh;
		width: 40%;
	}

	.not-main-l-d p {
		margin-bottom: 30px;
		line-height: 1.6;
	}
}

@media screen and (max-width: 460px) {
	.mob-main {
		height: 90vh !important;
	}

	.not-main-h h1 {
		line-height: .9;
		font-size: 55px;
		margin: 46vh 0 0 0;
	}

	.not-main-h p {
		font-size: 18px;
		margin: 15px 0 0 0px;
	}

	.not-main-l-d {
		margin-top: 4vh;
	}

	.not-main-l-d p {
		margin-bottom: 30px;
		width: 90%;
	}
}


/* ------------------------ Страница обо мне ---------------------------- */

.education {
	margin: 100px 0;
}

.edu {
	width: 100%;
	height: 100%;
	border: 2px solid #231f20;
}

.edu-cont {
	border: 1px solid #231f20;
}

.edu-cont p {
	font-size: 17px;
}

.therapy {
	display: flex;
	align-items: center;
}

.therapy img {
	object-fit: cover;
}

.therapy-d {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.therapy-d h2 {
	margin: 0 0 30px 0;
}

.therapy-d p {
	font-size: 16px;
	margin: 0 0 10px 0;
	line-height: 1.4;
}

.therapy-d a {
	margin-top: 15px;
}

@media screen and (min-width: 460px) {	
	.edu-cont {
		margin: 10px;
		padding: 40px 200px;
		text-align: center;
	}
	
	.edu-cont h3 {
		font-size: 40px;
	}
	
	.edu-cont p {
		line-height: 2;
	}
	
	.therapy {
		flex-direction: row;
		justify-content: space-between;
	}
	
	.therapy img {
		width: 50%;
		height: 80vh;
	}
	
	.therapy-d {
		width: 42%;
	}
	
	.therapy-d h2 {
		font-size: 45px;
	}
}

@media screen and (max-width: 460px) {	
	.edu-cont {
		margin: 5px;
		padding: 20px 12px;
		text-align: center;
	}
	
	.edu-cont h3 {
		font-size: 32px;
	}
	
	.edu-cont p {
		line-height: 1.4;
	}
	
	.therapy {
		flex-direction: column;
		justify-content: center;
	}
	
	.therapy img {
		width: 100%;
		height: 40vh;
		margin-bottom: 40px;
	}
	
	.therapy-d {
		width: 100%;
	}
	
	.therapy-d h2 {
		font-size: 40px;
	}
}


/* ---------------------- Страница услуги ------------------------- */

.price-cont {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.price {
	border: 1.5px solid #000;
    text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: #e8e9ed;
	transition: .5s;
}

.price:hover {
	box-shadow: 5px 10px #231f20;
}

.price h3 {
	line-height: 1;
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.price p {
	font-size: 17px;
}

.price-group {
	background: no-repeat url(../images/9.JPG);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	display: flex;
	align-items: center;
	color: #fff;
}

.price-group-cont {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.price-group-cont h3 {
	margin: 0;
}

.price-group-cont p {
	font-size: 19px;
	margin: 40px 0;
}

.price-group-cont h2 {
	line-height: 1;
}

.price-psy {
	display: flex;
	align-items: center;
}

.price-psy img {
	object-fit: cover;
}

.psy-cont {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.psy-cont h1 {
	margin: 0 0 20px 0;
}

.psy-cont p {
	font-size: 17px;
	margin: 0 0 12px 0;
	line-height: 1.6;
}

.psy-cont a {
	margin-top: 25px;
}


@media screen and (min-width: 460px) {
	.price-cont {
		margin-top: 60px;
	}
	
	.price-cont h2 {
		font-size: 70px;
		margin: 20px 0 40px 0;
	}
	
	.prices {
		width: 100%;
		display: grid;
		grid-template-columns: 32% 32% 32%;
		gap: 0 10px;
	}
	
	.price {
		padding: 40px 20px 65px 20px;
	}
	
	.price h3 {
		font-size: 30px;
	}
	
	.price h2 {
		font-size: 35px;
	}
	
	.price-group {
		margin: 60px 0;
		height: 100vh;
	}
	
	.price-group-cont h3 {
		font-size: 75px;
	}
	
	.price-group-cont h2 {
		font-size: 70px;
		margin: 0 0 40px 0;
	}
	
	.price-psy {
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 80px;
	}
	
	.price-psy img {
		width: 50%;
		height: 80vh;
	}
	
	.psy-cont {
		width: 42%;
	}
	
	.psy-cont h1 {
		font-size: 50px;
	}
}

@media screen and (max-width: 460px) {	
	.price-cont h2 {
		font-size: 39px;
		margin: 20px 0 30px 0;
	}
	
	.prices {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	.price {
		padding: 20px 10px 30px 10px;
		margin: 10px 0;
	}
	
	.price h3 {
		font-size: 32px;
	}

	
	.price h2 {
		font-size: 34px;
	}
	
	.price-group {
		margin: 60px 0;
		height: 70vh;
	}

	.price-group-cont {
		text-align: center;
		padding: 0 30px;
	}
	
	.price-group-cont h3 {
		font-size: 37px;
	}
	
	.price-group-cont h2 {
		font-size: 35px;
		margin: 0 0 40px 0;
	}
	
	.price-psy {
		flex-direction: column;
		justify-content: center;
		/* margin-bottom: 80px; */
	}
	
	.price-psy img {
		width: 100%;
		height: 40vh;
		margin-bottom: 40px;
	}
	
	.psy-cont {
		width: 100%;
	}
	
	.psy-cont h1 {
		font-size: 40px;
	}
}

/* ----------------------- Страница контакты --------------------------- */

.row-cont {
	display: flex;
	align-items: center;
	margin-top: 40px;
}

.row-cont img {
	object-fit: cover;
}

.section-contact {
	display: flex;
	flex-direction: column;
}

.section-contact h2 {
	margin: 0;
}

.contact-links {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
}

.contact-links a {
	color: #000;
	text-decoration: none;
	margin: 8px 0;
	transition: .4s;
}

.contact-links a:hover {
    opacity: .5;
}

.social-contact {
    display: flex;
	flex-direction: row;
}

.social-contact a {
    color: #000000;
    transition: 0.5s;
}

.social-contact a:hover {
    opacity: .6;
}

@media screen and (min-width: 460px) {
	.row-cont {
		flex-direction: row;
	}
	
	.row-cont img {
		width: 45%;
		height: 90vh;
		margin-right: 80px;
	}

	.section-contact {
		align-items: flex-start;
	}
	
	.section-contact h2 {
		font-size: 90px;
	}
	
	.contact-links a {
		font-size: 25px;
	}
	
	.social-contact {
		margin: 25px 0 40px 0;
	}
	
	.social-contact img {
		width: 45px;
		height: 45px;
		margin-right: 20px;
	}

	.cont-img-mob {
		display: none;
	}
}

@media screen and (max-width: 460px) {
	.row-cont {
		flex-direction: column;
	}
	
	.row-cont img {
		width: 100%;
		height: 40vh;
		margin-top: 50px;
	}

	.section-contact {
		align-items: center;
		text-align: center;
		margin-top: 25px;
	}
	
	.section-contact h2 {
		font-size: 50px;
	}

	.contact-links {
		align-items: center;
	}
	
	.contact-links a {
		font-size: 25px;
	}
	
	.social-contact {
		margin: 25px 0 40px 0;
	}
	
	.social-contact img {
		width: 40px;
		height: 40px;
		margin: 0 10px;
	}

	.cont-img {
		display: none;
	}
}


/* ----------------------------- PRIVACY ------------------------------ */

.privacy {
	margin: 100px 0;
}

.privacy h2 {
	margin: 60px 0 20px 0;
}

.privacy p {
	font-size: 17px;
	line-height: 1.6;
	margin-bottom: 10px;
}


@media screen and (min-width: 460px) {
	.privacy h1 {
		font-size: 50px;
	}
}

@media screen and (max-width: 460px) {
	.privacy h1 {
		font-size: 40px;
	}
}